body{
	font-family:arial,verdana, sans-serif;
}

* { box-sizing: border-box } 

div{border:0px solid gray;}

input{
	font-size:15px;
}

*[hidden]{
	display:none;
}

.loading{
	display:table;
	position:fixed;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	background-color:black;
	text-align:center;
	opacity:0.7;
	z-index:10000;
	color:white;
}
.loading span{
	display:table-cell; 
	vertical-align:middle;
}
.description{
	font-style:italic;
}

.address{
	width:180px;
}

.autocomplete_container{
	position:relative;
}

.autocomplete_popup{
	background-color:#fff;
	position:absolute;
 	top:30px;
 	width:180px;
 	overflow:auto;
 	max-height:300px;
  	border: 1px solid #ccc;
  	z-index:1000;
}

.autocomplete_popup ul{ 
	list-style: none;
	margin:0px;
	padding:0px;
}

.autocomplete_popup ul li{
	margin:10px;
	border-bottom:1px solid #ccc;
	color:#888;
	cursor:pointer;
}

.map{
	width:100%;
	height:300px;
	border:1px solid black;
}

.main{
	min-width:300px;
	max-width:800px;
	position:relative;
	margin:auto;
	padding:20px;
}

.col_3{
	float:left;
	width:33%;
	padding:10px 20px 10px 0px ;
	min-height: 100px;

}

.col_3:nth-child(3){
	padding-right:0px;
}

/* basic responsive layout for smaller devices */
@media (max-width: 800px) {
	.col_3{
		float:none;
		width:100%;
		min-height: 0px;
	}

	.col_3:nth-child(3){
		padding-right:10px;
	}

}